[submodule "lib/enet"]
	path = lib/enet
	url = https://github.com/lsalzman/enet
[submodule "lib/sokol"]
	path = lib/sokol
	url = https://github.com/floooh/sokol
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
